.header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  color: white;
}
.main {
  height: 90vh;
  font-size: 1.5rem;
  padding: 1rem;
}

.bar {
  width: 100%;
  max-width: 280px;
  background: white;
}

.bar#play-bar {
  background: green;
}
